<?xml version="1.0"?>
<launch>

  <arg name="local_ekf_config_file"   default="$(find robot_controller)/config/ekf_localization.yaml" />

    <node pkg="robot_localization" type="ekf_localization_node" name="robot_ekf_filter" clear_params="true" output="screen">
      <rosparam command="load" file="$(arg local_ekf_config_file)" />          
      <remap from="odometry/filtered" to="odom"/>
      <remap from="set_pose" to="/set_pose"/>
      <remap from="cmd_vel" to="cmd_vel"/>
    </node>



</launch> 
