<launch>

  <arg name="map_file" default="$(find mybot_navigation)/maps/mybot_map.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

  <include file="$(find mybot_navigation)/launch/amcl.launch"/> 

  <include file="$(find mybot_navigation)/launch/move_base.launch"/> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot_navigation)/rviz/mybot_navigation.rviz"/> 

</launch>
